<div class="modal-backdrop" *ngIf="isVisible" (click)="close()"></div>
<div class="modal" *ngIf="isVisible">
  <div class="modal-content">
    <div *ngIf="gameIsPaused && !playerWins">
      <h3 class="gradient-header secret-word">Paused</h3>
      <div class="modal-buttons">
        <button class="btn" (click)="continueGame()">Continue</button>
        <button class="btn" (click)="toCategoryComponent()">
          New category
        </button>
        <button class="btn" (click)="quitGame()">Quit game</button>
      </div>
    </div>
    <div *ngIf="playerWins">
      <h3 class="modal-heading gradient-header">You win!</h3>
      <div class="modal-buttons">
        <button class="btn" (click)="callGenerateNewGame()">Play again</button>
        <button class="btn" (click)="toCategoryComponent()">
          New category
        </button>
        <button class="btn" (click)="quitGame()">Quit game</button>
      </div>
    </div>
    <div *ngIf="!playerWins && !gameIsPaused">
      <h3 class="modal-heading gradient-header">You loose</h3>
      <p class="secret-word">Secret word was {{ secretWord }}.</p>
      <div class="modal-buttons">
        <button class="btn" (click)="callGenerateNewGame()">Play again</button>
        <button class="btn" (click)="toCategoryComponent()">
          New category
        </button>
        <button class="btn" (click)="quitGame()">Quit game</button>
      </div>
    </div>
    <ng-content></ng-content>
  </div>
</div>
