<div class="home-container">
  <div class="heading">
    <section class="home-header">
      <div class="title-wrapper">
        <h1 class="title">
          <span data-text="the">the</span>
          <span data-text="hangman">hangman</span>
          <span data-text="game">game</span>
        </h1>
      </div>
    </section>
  </div>
  <div class="play-btn">
    <img
      src="../../../../assets/play-icon.png"
      alt="play-icon"
      (click)="toCategoryComponent()"
    />
  </div>
  <button class="how-to-play btn">how to play</button>
</div>
