:root {
  --primary-color: #2463ff;
  --secondary-color: #fff;
  --font-2XL: 5.5rem;
  --font-XL: 5rem;
  --font-large: 2.5rem;
  --font-medium: 2rem;
  --font-small: 1.5rem;
  --font-extra-small: 1.1rem;

  --background-color: #261676;
  --body-color: #887dc0;
  --opaque-top: #0043ece2;
  --opaque-background: #26167677;
  --font-body: 1rem;
  --menu-gap: 1rem;
}

/* main component */
.main-component {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.progress-bar {
  display: flex;
  justify-items: center;
  align-items: center;
}

.main-top {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.letters {
  border-radius: 2px;
  margin: 0 5px;
  padding: 15px;
  background-color: #2662ff;
  color: white;
  font-size: 18px;
}

.letters-bottom:hover {
  cursor: pointer;
}

.margin-top {
  margin-top: 20px;
}

.exit-button {
  appearance: none;
  background: linear-gradient(90deg, #0000 33%, #fff5, #0000 67%)
      var(--_p, 100%) / 300% no-repeat,
    rgb(11, 100, 184);
  border-radius: 15px;
  border: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-width: 0;
  outline: none;
  padding: 8px 2%;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}

.exit-button:disabled {
  pointer-events: none;
}

.exit-button:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.exit-button:active {
  box-shadow: none;
  transform: translateY(0);
}

@keyframes heartbeat {
  0% {
    transform: scale(0.75);
  }
  20% {
    transform: scale(1);
  }
  40% {
    transform: scale(0.75);
  }
  60% {
    transform: scale(1);
  }
  80% {
    transform: scale(0.75);
  }
  100% {
    transform: scale(0.75);
  }
}

.heart {
  position: relative;
  width: 50px;
  height: 35px;
  animation: heartbeat 1s infinite;
}

.heart:before,
.heart:after {
  position: absolute;
  content: "";
  left: 20px;
  top: 0;
  width: 20px;
  height: 35px;
  background: red;
  -moz-border-radius: 50px 50px 0 0;
  border-radius: 50px 50px 0 0;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  -o-transform-origin: 0 100%;
  transform-origin: 0 100%;
}

.heart:after {
  left: 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}

/* category component */

.category-component {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.category-component > div > h1 {
  text-align: center;
}
.categories-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 30%;
}
.categories-list {
  text-align: center;
  width: 60%;
  height: auto;
  margin: auto;
  justify-content: space-around;
  list-style: none;
}

.categories-list > button {
  text-transform: uppercase;
  margin: 16px;
  padding: 45px 35px;
  border: none;
  border-radius: 8px;
  text-align: center;
}

.choosen-category {
  background: linear-gradient(90deg, #0000 33%, #fff5, #0000 67%)
      var(--_p, 100%) / 300% no-repeat,
    rgb(11, 100, 184);
}

/* dialog component */

.dialog-container {
  background: linear-gradient(90deg, #0000 33%, #fff5, #0000 67%)
      var(--_p, 100%) / 300% no-repeat,
    rgb(11, 100, 184);
  color: white;
  border: none;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.dialog-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dialog-wrapper > img {
  width: 200px;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

/* home component */

.home-header {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-wrapper {
  display: grid;
  align-items: center;
  justify-content: center;
  transform: skew(0, -10deg);
}

.top-title {
  order: 1;
  text-align: center;
  display: block;
  color: #fff;
  font-size: clamp(1rem, 4vw, 1.5rem);
  margin-bottom: 1rem;
  padding-right: 2rem;
}

.bottom-title {
  order: 3;
  text-align: center;
  display: block;
  color: #fff;
  font-size: clamp(1rem, 4vw, 1.5rem);
  margin-top: 2rem;
  padding-left: 2rem;
}

.title {
  order: 2;
  color: #fde9ff;
  font-weight: 900;
  text-transform: uppercase;
  font-size: clamp(3rem, 10vw, 6rem);
  line-height: 0.75em;
  text-align: center;
  text-shadow: 3px 1px 1px #4af7ff, 2px 2px 1px #165bfb, 4px 2px 1px #4af7ff,
    3px 3px 1px #165bfb, 5px 3px 1px #4af7ff, 4px 4px 1px #165bfb,
    6px 4px 1px #4af7ff, 5px 5px 1px #165bfb, 7px 5px 1px #4af7ff,
    6px 6px 1px #165bfb, 8px 6px 1px #4af7ff, 7px 7px 1px #165bfb,
    9px 7px 1px #4af7ff;

  span {
    display: block;
    position: relative;

    &:before {
      content: attr(data-text);
      position: absolute;
      text-shadow: 2px 2px 1px #e94aa1, -1px -1px 1px #c736f9,
        -2px 2px 1px #e94aa1, 1px -1px 1px #f736f9;
      z-index: 1;
    }

    &:nth-child(1) {
      padding-right: 2.25rem;
    }

    &:nth-child(2) {
      padding-left: 2.25rem;
    }
  }
}

.disclaimer {
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
  color: #fff;

  a {
    color: #fff;
  }
}

.text-box {
  margin-left: 44vw;
  margin-top: 42vh;
}

.inner {
  transition: all ease-in-out 1s;
}
.inner__back {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--bottom);
  perspective: 600px;
}
.inner__top {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  transform-origin: top left;
  transform: rotateX(70deg);
  background: var(--top);
}
.inner__front {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  transform-origin: top left;
  transform: translate3d(0, 24px, 68px);
  background: var(--top);
}
.inner__bottom {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  transform-origin: bottom left;
  transform: rotateX(-110deg);
  background: var(--bottom);
}
.inner__left {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 68px;
  height: 100%;
  transform-origin: center left;
  transform: rotateY(-90deg) skewY(20deg);
  background: rgba(255, 0, 0, 0);
  transition: all linear 0.01s;
}
.inner__right {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 68px;
  height: 100%;
  transform-origin: center left;
  transform: rotateY(-90deg) skewY(20deg);
  background: rgba(255, 0, 0, 0);
}

.plate {
  position: absolute;
  z-index: 10;
  top: 0;
  left: -20px;
  width: 320px;
  height: 120px;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
.home-container {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.heading {
  width: 100%;
  text-align: center;
}

.play-icon {
  width: 100%;
  text-align: center;
}

.play-icon > img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.play-icon > img:hover {
  cursor: pointer;
}
/* how-to-play component */

.rules-description {
  font-size: var(--font-extra-small);
  color: var(--body-color);
  font-weight: 600;
}

.rules-category {
  text-transform: uppercase;
  color: var(--background-color);
  font-weight: bold;
  font-size: var(--font-small);
}
.how-to-play-rules > li,
.how-to-play-rules > .rules-header {
  list-style-type: none;
  text-align: center;
}

.how-to-play-rules > .rules-header {
  font-size: var(--font-XL);
  color: var(--primary-color);
}
.rules-container {
  display: flex;
  justify-content: space-between;
}
.how-to-play-rules {
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 20vw;
  height: 50vh;
  border-radius: 10px;
  padding: 0 10px;
}
.back-arrow {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.back-arrow:hover {
  cursor: pointer;
}
.how-to-play {
  width: 100%;
  text-align: center;
}

.how-to-play-container {
  padding: 0 6%;
}

.how-to-play-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: white;
  background-image: linear-gradient(#67b6ff, white);
  background-size: 100%;
  background-repeat: repeat;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.how-to-play-heading > h1 {
  font-size: var(--font-2XL);
}

.btn {
  background: linear-gradient(90deg, #0000 33%, #fff5, #0000 67%)
      var(--_p, 100%) / 300% no-repeat,
    rgb(63, 161, 251); /* background color */
  border-radius: 4px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont,
    sans-serif;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  outline: 0;
  padding: 10px 25px;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 200px;
}

.home-btn {
  margin: auto;
}

.btn:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0 3px 9px 0;
  transform: translateY(-2px);
}

@media (min-width: 768px) {
  .btn {
    padding: 10px 30px;
  }
}

.dialog-buttons > button {
  font-size: 25px;
  margin-top: 8px;
  background: linear-gradient(90deg, #0000 33%, #fff5, #0000 67%)
      var(--_p, 100%) / 300% no-repeat,
    rgb(63, 161, 251); /* background color */
  padding: 5px 10px;
}
